@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --btncolor: rgb(34, 34, 194);
    --bs: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.icons {
    color: rgb(47, 139, 47);
    /* border: 2px solid yellow; */
    background-color: white;
    
}

body {
    background-color: rgb(226, 220, 220);
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style-type: none;
}

input:focus {
    outline: none;
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    padding: 25px 20px;
    text-align: center;
}

input {
    background-color: rgb(252, 252, 252);
    padding: 9px;
    border-radius: 5px;
    width: 38vw;
    outline: none;
    border: none;
}

.btn {
    background-color: var(--btncolor);
    border-radius: 5px;
    padding: 9px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
}

.one {
    margin: 40px 0;
}

.two {
    margin: 10px 0;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-container p:focus {
    outline: none;
}

button {
    position: absolute;
    right: 23%;
}

.todo-list p {
    width: 40vw;
    margin: 15px 0;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--bs)
}

@media (max-width:805px) {
    li span {

        right: 19.5vw;
    }
}

@media(max-width:570px) {

    .main {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: 15px 0 5px 0;
    }

    li span {

        right: 17.5vw;
    }
}

@media(max-width:420px) {

    li span {

        right: 15.5vw;
    }
}